@import 'mixins.scss';
@import 'variables.scss';
@import 'navbar-header.scss';
@import 'menu.scss';
@import 'tasks.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $main-font;
}
