$yellow: #FFC400;
$red: #DE350B;
$white: #FFFFFF;
$green: #006644;
$blue: #172B4D;
$gray: #6B778C;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main-font: 'Roboto', sans-serif;



